*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    background-image: url(../img/home-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .titulo-home {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem;

        h1 {
            color: #fff;
            font-family: monospace;
            font-weight: bold;
            font-size: 2.3rem;
        }

    }

    .descripcion {
        padding: 1rem;
        text-align: center;

        p {
            color: white;
            font-family: monospace;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .ifr-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        iframe {
            width: 80%;
            height: 20rem;
        }

        form {
            width: 80%;
            padding: 2rem;

            label {
                color: white;
                font-size: 1.5rem;
            }

            .nom-ape {
                display: flex;
                justify-content: space-between;
                
                div {
                    width: 48%;
                }
            }

            .form-btn {
                width: 100%;
                height: 3rem;
                background-color: rgb(188, 20, 36);
            }
        }
    }
    
}

@media only screen and (min-width: 860px) {
    .home {
        background-image: url(../img/Spider-man.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .titulo-home  {
            justify-content: start;
        }

        .descripcion {
            text-align: left;
        }

        .ifr-form {
            flex-direction: row;

            iframe {
                width: 42%;
            }

            form {
                width: 48%;
            }
        }
    }
  
    

    
}