.villanos-main {
    background-color: black;
    width: 100%;

    h1 {
        text-align: center;
        padding: 1rem;
        color: white;
    }

    .container {
        width: 100%;
        padding: 1rem;

        .col {
            padding: 1rem;
            display: flex;
            justify-content: center;
            
            .card {
                text-align: center;
                font-weight: bold;
            }
            

        }

        
    }
}

@media only screen and (min-width: 860px){
    .card:hover {
      transform: scale(1.1);
    }
  }