@import "components/_nav-bar";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  

@media only screen and (min-width: 860px) {
  .home {
    background-image: url(/assets/img/Spider-man.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(188, 20, 37, 0.799);;
    .logo-nav {
      width: 8rem;
    }
  }

  .titulo-home {
    justify-content: start;
  }
  .historia-container {
    width: 100%;
    font-family: monospace;
    background-color: black;
    height: 100vh;
  }
  .descripcion {
    text-align: left;
  }
  .div-historia {
    width: 100%;
    text-align: center;
    color: white;
  }
  .titulo-historia {
    padding: 2rem;
  }
  .historia-texto {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .historia-imgs {
    padding: 2rem;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas: "img1 img2 img3";
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
    width: 14rem;
  }
  .img3 {
    grid-area: img3;
  }
  .img1, .img2, .img3 {
    border: 10px solid #db1414;
  }
  .container {
    padding: 4rem;
  }
  .villanos-main {
    background-color: black;
  }
  .col {
    padding: 2rem;
  }
  .card {
    font-weight: bold;
  }
}