* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    background-image: url(/assets/img/home-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-nav {
    width: 3.5rem;
}

.logo-nav2 {
    width: 3.5rem;
    display: none;
}

.icon-nav {
    width: 4rem;
}

#header{
    background-color: rgb(188,20,36);
}

.navegation div ul li a {
    color: white;
    font-weight: bold;
    letter-spacing: .1rem;
}

.titulo-home {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.titulo-home h1 {
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    font-size: 2.3rem;
}

.descripcion {
    padding: 1rem;
    text-align: center;
}

.descripcion p {
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
}

.skills-container {
    background-image: url(/assets/img/fondo-mobile2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.skills-tittle {
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family: monospace;
    text-decoration: underline;
}

.div-table {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.table-dark {
    width: 100%;
    text-align: center;
    border: .1rem solid white;
}

.skilss-details {
    width: 100%;
}

.skills-text {
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.containerxd {
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

.carouselText {
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.471);
}


.img {
    height: 35rem;
    max-width: 100%;
    border: 2rem solid white;
}

.carousel {
    width: 90%;
}

.titulo-trajes {
    width: 90%;
    text-align: center;
    padding: 2rem;
}

.titulo-trajes > h1 {
    font-size: 2rem;
    color: white;
    font-family: monospace;
    letter-spacing: .3rem;
}

@media only screen and (min-width: 860px) {

    .home {
        background-image: url(/assets/img/Spider-man.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    .logo-nav2 {
      display: block;
    }

    .titulo-home {
        justify-content: start;
    }

    .historia-container {
        width: 100%;
        font-family: monospace;
        background-color: black;
    }

    .div-historia {
        width: 100%;
        text-align: center;
        color: white;
    }

    .titulo-historia {
        padding: 2rem;
    }

    .historia-texto {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .historia-imgs {
        padding: 2rem;
        display: grid; 
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 20px; 
        grid-template-areas: 
            "img1 img2 img3"
    }

    .img1 { 
        grid-area: img1;
    }

    .img2 { 
        grid-area: img2; 
        width: 14rem;
    }
    .img3 { 
        grid-area: img3; 
    }

    .img1, .img2, .img3 {
        border: 10px solid #db1414;
    }

    .container-villanos {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "villano1 villano2 villano3 villano4"
          "villano5 villano6 villano7 villano8";
      }
      
      .villano1 { grid-area: villano1; }
      
      .villano2 { grid-area: villano2; }
      
      .villano3 { grid-area: villano3; }
      
      .villano4 { grid-area: villano4; }
      
      .villano5 { grid-area: villano5; }
      
      .villano6 { grid-area: villano6; }
      
      .villano7 { grid-area: villano7; }
      
      .villano8 { grid-area: villano8; }
      
}
