* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.logo-nav {
    width: 3.5rem;
}

.logo-nav2 {
    width: 3.5rem;
    display: none;
}

.icon-nav {
    width: 4rem;
}

#header{
    background-color: rgb(188,20,36);
}

.navegation div ul li a {
    color: white;
    font-weight: bold;
    letter-spacing: .1rem;
}

.table {
    max-width: 90%;
    margin: 0 auto;
}

.containerxd {
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carouselText {
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.471);
}


.img {
    height: 35rem;
}

.carousel {
    width: 90%;
}

@media only screen and (min-width: 860px) {

    .home {
        background-image: url(/assets/img/fondo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    .logo-nav2 {
      display: block;
    }

}
