header {
    background-color: rgb(188, 20, 36);
    width: 100%;

    .nav-bar-items{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        
        .navegation {

            .nav-link {
                color: white;
                font-weight: bold;
                letter-spacing: 0.1rem;
            }
                    
            
        }

        .items-nav1 {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .nav-logo2 {
            width: 3.5rem;
        }

        .icon-div {
            display: none;
        }

        .icon-nav {
            width: 4rem;
        }

    }
    
}

@media only screen and (min-width: 860px){
  
   header {

        .nav-bar-items {
            flex-direction: row;
            
            .icon-div {
                display: flex;
                align-items: center;
                .icon-nav {
                    align-items: center;
                }
            }

            .items-nav1 {
                width: max-content;
            }
        }
   }
}

